body{
    background-color:rgb(142, 140, 139);
    
}
#container{
    background-color: rgba(186, 173, 30, 0.612);
    margin-left: 500px;
    width: 20%;
    letter-spacing: 2px;
    padding: 75px;
}
input[type="radio"]{
    margin: 19px;
    accent-color:rgb(235, 21, 31);
}
p{
    color:blue;
    font-size: 20px;
}
button{
    background :rgba(16, 219, 9, 0.735);
    border-radius: 7px;
    color:black;
    cursor: pointer;
    font-size: 20px;
    margin: 5px
}