body{
    background-color: #009688a6;
}
#color_container{
    background-color: cadetblue;
    margin-left: 500px;
    accent-color: hwb(34deg 19% 9%);
    font-size: 20px;
    width :20%;
    padding: 30px;
}
button{
    background: #009688a6;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-position: right center;
    color:rgb(33, 172, 253);
    text-decoration: none;
  }
